# Node modules
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# SvelteKit / Vite
.svelte-kit
build
dist

# Storybook build
storybook-static

# Mac system file
.DS_Store

# Env files (if any)
*.env
*.env.local
