
.ds-dialog__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ds-dialog__content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90vw;
  max-width: 500px;
}

.ds-dialog__header {
  margin-bottom: 15px;
}

.ds-dialog__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.ds-dialog__body {
  margin-bottom: 20px;
}

.ds-dialog__footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
    


/* for storybook only*/
#storybook-docs .sbdocs-preview .docs-story > div:first-of-type{
    min-height: 200px;
}

#storybook-docs .sbdocs-preview .docs-story > div:first-of-type > div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;        
}
