.datavis .docs-story > div{
    width: 100%;
    padding: 0;
    justify-content: normal !important;
    display: flex;
    flex-wrap: initial;
    align-items: normal;
}

.css-1rallf0, .css-ki5eh0 {
    width: 100%;
}

#storybook-root, #storybook-docs{
    width: 100%;
}

.sbdocs{
    width: 100%;
}

.sbdocs > div{
    max-width: 100%;
}