    /* for storybook only*/
    #storybook-docs .sbdocs-preview .docs-story > div:first-of-type{
        min-height: 200px;
    }

    #storybook-docs .sbdocs-preview .docs-story > div:first-of-type > div{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;        
    }